{% extends "/Layout/Layout.twig" %}

{% block content %}
    {% set cardHeader = lang.getTranslation(["form", "of", "login"]) %}
    {% set cardBody = include("Form/login.twig") %}
    {% set footer = '<a class="btn btn-secondary btn-sm float-right" href="/register">'~ lang.getTranslation("noAccount")|capitalize ~'</a>' %}

    {% import "Macros/card.twig" as card %}
    {{ card.div(cardHeader, cardBody, footer, 6) }}
    {% block script %}
        <script src="{{ assets }}/js/togglePassword.js"></script>
    {% endblock %}
{% endblock %}